dj-database-url==0.4.0
Django==1.9.2
dill==0.2.1
Flask==0.10.1
gunicorn==19.3.0
Jinja2==2.11.3
oauth==1.0.1
oauthlib==0.7.2
requests>=2.2.1
psycopg2==2.6.1
whitenoise==2.0.6
lxml==3.6.0
pandas==0.20.3
urllib3==1.21.1
socialshares==1.1.0
beautifulsoup4==4.4.1
rq==0.8.0
redis==2.10.3
